.ContainGraph {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ContainChart {
    //background-color: aquamarine;
    width: 95%;
    height: 80%;
}

.XAxisItems {
    display: flex;
    width: 95%;
    height: 10%;
    justify-content: space-around;
}

.XAxisItem {
    font-size: 80%;
}

.XAxisLabels {
    display: flex;
    width: 95%;
    height: 10%;
    justify-content: space-evenly;
}

.XAxisLabel {
    font-size: 80%;
}
