@import '../../style/variables';

.Grid {
    display: grid;
    gap: 30px;
    grid-template-areas: 'g g g g ' 't c c c';
    grid-template-rows: 60% 40%;
    grid-template-columns: 27% 19% 23% 23%;

    @media only screen and (max-width: $mobileLayoutCutoff) {
        grid-template-areas: 'g' 't' 'c';
        grid-template-rows: auto auto auto;
        grid-template-columns: 100%;
    }

    margin: 5% auto;
    max-width: 1350px;
    width: 90%;
}

.Card {
    align-items: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.TempCard {
    grid-area: t;
}

.GraphCard {
    grid-area: g;
}

.ControlsCard {
    grid-area: c;
    position: relative;
}
