.Stage {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.Over {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 2;
}

.Middle {
    background-color: rgba(114, 215, 194, 0.3);
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.Under {
    align-items: center;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 0;
}
